<h1>Create New Question</h1>

<!-- <form action="<%= questions_path %>" method = "post"> -->
<!--<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> -->
  <!-- <input type="submit" value="Create Questions"> -->
<!-- </form> -->

<%# this will automatically generate authenticity_token hidden field with us with the proper value set %>
<!-- <%= form_tag questions_path do %> -->
  <!-- <% submit_tag "Create Question" %> -->
<!-- <% end %> -->
<!--  -->

<%# form_for looks at the type of object that you give it, in this case Question and then automatically guesses the url assuming you followed Rails conventions so it assumes that you have questions_controller and if you pass it a new Question object it will submit it to 'question_path' by convention %>

<%= form_for Question.new do |f| %>
  <div>
    <%= f.label :title %>
    <%# this generates an input with a name attributes that is question[title] Rails will give us the parameters for this form within the params Hash as a value of "question" key. So the params Hash will look like:
    {.."question"=>} %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>
