<h1>New Product</h1>

<%#= @product.errors.full_message.join(", ") %>
<% if @product.errors.any? %>
  <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @product do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.text_area :price %>
  </div>
  <div>
  <%= f.label :body %>
  <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>
