<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="<%= root_path %>">Home</a>
  <!-- <a href="<%#= hello_path %>">Hello</a> -->
  <!-- Link to is called a view helper, link_to is built-in with Rails. It  -->
  <!-- generate an anchor HTML tag. -->
  <!-- <%#= link_to("Hello", hello_path) %> -->
  <!-- <%#= link_to("Hello Jade", greeting_path({name: "Jade"})) %> -->

  <!-- <%#= index_path %>
  <hr>
  <%#= index_url %> -->
  <%= link_to "New Question", new_question_path %>
  <hr>
  <%= yield %>

</body>
</html>
